{% extends 'base.html' %}
{% block title %} Django Rules! - Departamentos{% endblock %}
{% block main %}

<h3>Lista de Departamentos <i class="fas fa-list-alt"></i></h3>

<br>
<div class="card">
    <div class="card-body">
        <div class="col-sm">
            {% for departamento in object_list %}
                <li>Editar Departamento de <a href="{% url 'update_departamentos' departamento.id %}"> {{ departamento }} </a> <i class="fas fa-edit"></i> <br><br>
                <a class="btn btn-danger" href="{% url 'delete_departamentos' departamento.id %}"> Deletar <i class="fas fa-trash-alt"></i></a></li>
    </br><br>
                {% endfor %}
       </div>
    </div>
</div>

</br>

        <a class="btn btn-primary" href="{% url 'create_departamentos' %}"> Novo <i class="fas fa-plus-circle"></i></a>
        </br> </br>
        <a class="btn btn-info" href="{% url 'home' %}">Voltar <i class="fas fa-long-arrow-alt-left"></i></a>
{% endblock %}