{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Django Rules! - Departamentos{% endblock %}
{% block main %}

<div class="card">
    <div class="card-body">
        <div class="col-sm">
            {% if object %}
                        <h3>Editar Departamento <i class="fas fa-edit"></i></i></h3>
                    {% else %}
                        <h3>Criar Departamento <i class="fas fa-plus"></i></h3>
                    {% endif %}

<form method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

        <button class="btn btn-primary" type="submit">Salvar <i class="fas fa-save"></i></button>
</form>
        </div>
    </div>
</div>

</br> </br>
<a class="btn btn-info" href="{% url 'list_departamentos' %}">Voltar <i class="fas fa-long-arrow-alt-left"></i></a>

{% endblock %}