{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %} Django Rules! - Hora Extra{% endblock %}
{% block main %}


<div class="card">
    <div class="card-body">
        <div class="col-sm">
        {% if object %}
                        <h3>Editar Hora Extra <i class="fas fa-edit"></i></i></h3>
                    {% else %}
                        <h3>Criar Hora Extra <i class="fas fa-plus"></i></h3>
                    {% endif %}

        <form method="post">
            {% csrf_token %}

            {{ form|bootstrap }}

                <button class="btn btn-primary" type="submit">Salvar <i class="fas fa-save"></i></button>


        {% if object %}
                <a href="{% url 'delete_hora_extra' object.id %}" class="btn btn-danger">
                    Deletar <i class="fas fa-trash-alt"></i>
                </a>
            {% endif %}

<br><br>
        <input onclick="utilizouHoraExtra({{ object.id }})" class="btn btn-success" type="checkbox">
        Hora Extra Utilizada <i class="fas fa-check-circle"></i>
        </input>
<br><br>

        <input onclick="naoUtilizouHoraExtra({{ object.id }})" class="btn btn-warning" type="checkbox">
        Hora Extra Não Utilizada <i class="fas fa-times-circle"></i>
        </input>
<br><br>

</form>

<h6 id="horas_atualizadas"> Horas Utilizadas: {{ object.funcionario.total_horas_extra }}</h6>
<p id="mensagem"></p>

<h6 id="horas_atualizadas_n"> Horas Não Utilizadas: {{ object.funcionario.total_horas_extra }}</h6>
<p id="mensagem"></p>

        </div>
    </div>
</div>

<br><br>
<a class="btn btn-info" href="{% url 'list_hora_extra' %}">Voltar <i class="fas fa-long-arrow-alt-left"></i></a>

{% endblock %}

{% block static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}