{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Django Rules! - Funcionários{% endblock %}
{% block main %}

<div class="card">
    <div class="card-body">
        <div class="col-sm">
        {% if object %}
            <h3>Editar Funcionário <i class="fas fa-user-cog"></i></h3>
        {% else %}
            <h3>Criar Funcionário <i class="fas fa-user-plus"></i></h3>
        {% endif %}
                <form method="post">
                    {% csrf_token %}

                    {{ form|bootstrap }}

                        <button class="btn btn-primary" type="submit">Salvar <i class="fas fa-save"></i></button>
                </form>
</br>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="col-sm">
        Histórico de Documentos:
</br>
        
        {% for documento in object.documento_set.all %}
            <li>
                <a href="{{ documento.arquivo.url }} "> {{ documento.dsc_documento }} </a></br>
            </li>
        {% endfor %}
        
<br>

{% if object %}
    <a href="{% url 'create_documento' object.id %}" class="btn btn-success">
    Adicionar documento <i class="fas fa-file"></i>
    </a>
{% endif %}

        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="col-sm">
            Banco de horas:
</br>
    {% for registro_hora in object.registrohoraextra_set.all %}
        <li>  
                Motivo: <a href="{% url 'update_hora_extra' registro_hora.id %}"> {{ registro_hora.dsc_motivo  }} | horas: {{ registro_hora.horas }} </a><br>
        </li>
    {% endfor %}

</br>
            Total de horas extras: {{ object.total_horas_extra }} horas
        </div>
    </div>
</div>

</br>
</br> 
    <a class="btn btn-primary" href="{% url 'funcionario_list' %}" type="submit">Voltar <i class="fas fa-long-arrow-alt-left"></i></a>

{% endblock %}