{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Django Rules! - Login{% endblock %}

{% block main %}

<div class="col-sm">
</div>

<div class="card">
    <div class="card-body">
        <div class="col-sm"> 
            
            
           <form method="post"> 
            
            <div class="card-body">
            <h1>Login SGDR</h1>
            <br>
                {% csrf_token %}
                    <div class="form-group"><i class="fas fa-user-lock"></i>{{ form.username|bootstrap }}</div>
                    <div class="form-group"><i class="fas fa-lock"></i>{{ form.password|bootstrap }}</div>
                    <span class="pull-right">
                    <a class="btn btn-link" href="#"><i class="fa fa-unlock" aria-hidden="true"></i> Esqueceu sua senha?</a>
                    </span>
                    <br><br>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button>
            </div>

                {% comment %} {{ form.username|bootstrap }}
                {{ form.password|bootstrap }} {% endcomment %}
                
            </form>
        </div>
    </div>
</div>

<div class="col-sm">
</div>

{% endblock %}