{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

<div class="col-sm">
</div>

<div class="card">
    <div class="card-body">
        <div class="col-sm">
            <h1>Faça Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button>
            </form>
        </div>
    </div>
</div>

<div class="col-sm">
</div>

{% endblock %}